div {

    background-color: lightcoral;
    
    font-family: Verdana, sans-serif;
}

.text {
    color: black;
    font-size: 15px;
}
#text2{ 
        color: blue;
        background-color: white;
        font-size: 36px;
}
.text3{
    font-size: 24px;
}
#text4 {
    background-color: lightgreen;
    font-size: 24px;
    font-style: bold;
}